.carousel {
    position: relative;
    width: 700px;
    height: 438px;
    margin: auto;
    opacity: 0.7;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    background: lightblue;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 450ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;

    font-weight: bold;
    font-size: larger;
    z-index: 5;
    padding: 207px 20px;
    color: white;
    /* border-radius: 20px; */
    
}

.carousel__button:hover {
    color: black;
    background: rgba(255, 255, 255, 0.4);
}

.carousel__button--left {
    left: 0px;
}

.carousel__button--right {
    right: 0px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 12px;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background:rgba(0, 0, 0, 0.75);
}

.is-hidden {
    display: none;
}